@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lexend;
  src: url("../public/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: Inter;
}

.font-lexend {
  font-family: Lexend;
}

.font-arial {
  font-family: Arial;
}

video {
  border-radius: 10px;
}
